<% include partials/header %>

<div class="container">
    <div class="row" style="padding:5px">
        <div class="col-md-3 col-sm-3" style="padding:5px">
            <h3>Who We Are</h3>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>Hire Harlem promotes businesses that elevate the Harlem community. These businesses hire locally, give bak to the community, or are owned by women or people of color. Harlem community members, visitors and tourists want to shop at socially conscious businesses but often do not know where to go. By creating a searchable database and a map of these businesses, and by providing short features that highlight their altruistic work, Hire Harlem equips consumers with the information they need to shop consciously.
             </p>
        </div> 
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
    <div class="row" style="padding:5px">
        <div class="col-md-3 col-sm-3" style="padding:5px">
            <h3>Goals</h3>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>Nurture businesses owned by women and people of color                                                
                Incentivize more businesses, particularly large corporate chains, to give back to local non-profits, schools or community-based organizations                                                      
                Incentivize more business to hire locally or from other neighborhoods with high unemployment rates
            </p>
        </div> 
        <div class="col-md-3 col-sm-3">
        </div>
    </div>
    <div class="row" style="padding:5px">
        <div class="col-md-3 col-sm-3" style="padding:5px">
            <h3>The Problem</h3>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>Massive wealth disparities have existed along racial lines since the founding of the United States. But in recent years, gentrification in places like Harlem has deepened this inequality by increasing the costs of housing and basic goods – so much so that without a concerted effort, the majority of long-term residents and businesses will be priced out of their communities.
        
                In fact, this is already happening—30% of black-owned business in New York disappeared in 5 years. There are few minority and women owned businesses relative to the population, and a small percentage of government contracting for goods and services went to these businesses. The median rent increased by 90% in large parts of Harlem, the unemployment rate in Harlem remains higher for all ages than the rest of the City and, for 16-24 year-olds, is over 50%.
            </p>
        </div> 
        <div class="col-md-3 col-sm-3">
        </div>
    </div>
    <div class="row" style="padding:5px">
        <div class="col-md-3 col-sm-3" style="padding:5px">
            <h3>The Solution</h3>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>Conscious consumers can reduce the negative economic impact of gentrification by supporting local businesses that take active steps to elevate the community. Hire Harlem and its supporters promote local businesses that take one or more of these three actions:
                <ul><h4><strong>Hire Locally</strong></h4>Businesses that make a conscious effort to hire from Harlem and other historically underemployed neighborhoods, redistributing wealth to those who need it most     </ul>
                <ul><h4><strong>Give Back to the Community</strong></h4>Local non-profits and community-based organizations serve our community’s most vulnerable—from our seniors to school-age youth. Businesses that give to these institutions should be acknowledged for their good deeds.</ul>          
                <ul><h4><strong> Owned by Women or People of Color</strong></h4>Women and people of color have historically been disenfranchised in the realm of business and entrepreneurship. In order to right historical wrongs, these businesses should be supported--particularly in neighborhoods where predominately people of color live. Moreover, some research suggests that money earned at businesses owned by people of color is more likely to be redistributed within their communities and thus reduce the wealth gap.</ul> 
             </p>
        </div> 
        <div class="col-md-3 col-sm-3">
        </div>
    </div>
    <div class="row" style="padding:5px">
        <div class="col-md-3 col-sm-3" style="padding:5px">
            <h3>Next Steps</h3>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>We have a several next steps including 
                <ul>Expanding to East Harlem</ul>
                <ul>Hosting business town halls to discuss philanthropic efforts of businesses around the community</ul> 
                If you'd like to join the Hire Harlem community, please email us at <strong>contact@hireharlem.com </strong> 
            </p>
        </div> 
        <div class="col-md-3 col-sm-3">
        </div>
    </div>



<!--OLD    -->
<!--<p>-->
    <!--<h3>Who We Are:</h3>  -->
    <!--<p>Hire Harlem promotes businesses that elevate the Harlem community. These businesses hire locally, give bak to the community, or are owned by women or people of color. Harlem community members, visitors and tourists want to shop at socially conscious businesses but often do not know where to go. By creating a searchable database and a map of these businesses, and by providing short features that highlight their altruistic work, Hire Harlem equips consumers with the information they need to shop consciously.-->
    <!--</p>-->
    <!--<h3>Goals </h3> -->

    <!--     Nurture businesses owned by women and people of color                                                -->
    <!--    Incentivize more businesses, particularly large corporate chains, to give back to local non-profits, schools or community-based organizations                                                      -->
    <!--    Incentivize more business to hire locally or from other neighborhoods with high unemployment rates-->
    <!--    <h3>The Problem:</h3>  -->
        <!--Massive wealth disparities have existed along racial lines since the founding of the United States. But in recent years, gentrification in places like Harlem has deepened this inequality by increasing the costs of housing and basic goods – so much so that without a concerted effort, the majority of long-term residents and businesses will be priced out of their communities.-->
        
        <!--In fact, this is already happening—30% of black-owned business in New York disappeared in 5 years. There are few minority and women owned businesses relative to the population, and a small percentage of government contracting for goods and services went to these businesses. The median rent increased by 90% in large parts of Harlem, the unemployment rate in Harlem remains higher for all ages than the rest of the City and, for 16-24 year-olds, is over 50%.-->
        
        <!--<h3>The Solution:</h3>-->
        <!--Conscious consumers can reduce the negative economic impact of gentrification by supporting local businesses that take active steps to elevate the community. Hire Harlem and its supporters promote local businesses that take one or more of these three actions:-->
        
        <!--1.     Hire Locally: Businesses that make a conscious effort to hire from Harlem and other historically underemployed neighborhoods, redistributing wealth to those who need it most     -->
        
        <!--2.    Give Back to the Community: Local non-profits and community-based organizations serve our community’s most vulnerable—from our seniors to school-age youth. Businesses that give to these institutions should be acknowledged for their good deeds.          -->
        
        <!--3.   Owned by Women or People of Color: Women and people of color have historically been disenfranchised in the realm of business and entrepreneurship. In order to right historical wrongs, these businesses should be supported--particularly in neighborhoods where predominately people of color live. Moreover, some research suggests that money earned at businesses owned by people of color is more likely to be redistributed within their communities and thus reduce the wealth gap. -->
        
        <!--<h3>Next Steps:</h3>-->
<!--        We have a several next steps including (1) expanding to East Harlem (2) hosting business town halls to discuss philanthropic efforts of businesses around the community. If you'd like to join the Hire Harlem community, please email Contact@hireharlem.com. </p>-->

<!--</div>-->



<% include partials/footer %>