<% include partials/header %>

<div class="container">
    

    <h3>Search for a business</h3>
    
    <form action="/results" method="GET" style="color:gray">
        <input type="text" placeholder="search terms" name="search">
        <input type="submit">
    </form>

</div>



<% include partials/footer %>