<% include partials/header %>



<div id="contact" class="container">
    <div class="row">
        <div class="col-md-3" style="background:none;">
            <p class="lead">Hire Harlem Team</p>
        </div>
        <div class="col-md-9" style="background:none;">
            <div class="row">
                <p class="pull-right">  Contact us:</p>     
            </div>
            <div class="row">
                <p class="pull-right"><i class="fa fa-envelope" aria-hidden="true">  hireharlem@gmail.com</i></p>
            </div>
            <div class="row">
                <p class="pull-right"><i class="fa fa-facebook-official" aria-hidden="true"><a href="www.facebook.com/hireharlem" style="color:white">  /hireharlem.com</a></i></p>
            </div>    
        </div>
    </div>
    
    <div class="row" style="padding:5px">
        <div class="col-md-4 col-sm-3" style="padding:5px">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/5969af3c15d5dbaaaf3778d8/1500098365414/0I6A3812.jpg?format=750w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Jordan Stockdale, Founder</h4>
            <p>Jordan is a long-time educator and former Harlem Special Education Teacher. For the last 3 years, he's worked on education and juvenile justice policies for the Mayor. Jordan served as a Fulbright Scholar, and is currently finishing his second Master's at Princeton University.              
            </p>
        </div> 
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/5974efd5bf629a8e3d058ccf/1500836241712/Picture+of+Nicole.jpg?format=750w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Nicole Javanna Johnson, Director of Communication</h4>
            <p>Nicole is a NY based community organizer and Founder & Creative Director of M.O.V.E., a non-profit 501c3 organization that provides participants with resources to creatively address social issues. Via her non-profit organization, Nicole designs and administers practical learning and civic education after school programs for students ages 6-18 nation wide.
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/596a3d3415d5dbaaaf3ae5c9/1500134709203/KenM_Headshot+%281%29%281%29.jpg?format=500w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Kenneth Miles, Director of Partnerships</h4>
            <p>Born in Harlem, with family ties to the uptown community, Ken Miles is a social impact entrepreneur with a focus on community organizing, and a background in digital media and advertising. He maintains a personal and professional connection to Harlem, with a strong desire to continue to cultivate the diversity and genius this community has had for decades.  Ken was appointed to join Manhattan’s Community Board 9 (West Harlem) where he now serves. 
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3" style="height-max:200px">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/59c43884b7411cd9cb51860f/1506031919057/AO+solo.png?format=500w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Alex Ocampo, Director of Technology</h4>
            <p>Alex currently works at IBM Watson with a focus on bringing innovative solutions to market.  He believes in the power of technology to positively change lives, and the importance of ensuring that this change happens equitably. As a new member to the Harlem community by way of Chicago, Alex wants to ensure that he is actively working to preserve and enhance the rich cultural history of Harlem.
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Tiffany Griffin, title</h4>
            <p>Amazing Bio </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/596e4c683a0411037c2ca2cb/1500400744980/image1.jpeg?format=500w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Aysha Schomburg, Advisor</h4>
            <p>Aysha E. Schomburg, Esq., is the great granddaughter of Arturo Alfonso Schomburg, the founder of the Schomburg Center for Research in Black Culture, located in heart of Harlem. She is excited to support the mission of Hire Harlem. 
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/596dafa4914e6b9e76204ef6/1500360612745/FB_IMG_1500281855812.jpg?format=500w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Phillip Ellison, Advisor</h4>
            <p>As a former educator, politico, and, current education tech entrepreneur, Phillip understands the process of bringing a product/tool to market for social good. In the 1990s, he grew up going to church in Harlem after the 1980s crack epidemic. He also witnessed the onset of gentrification in Harlem since the turn of the century. As a concerned community member, he supports the holistic strategy of Hire Harlem.
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img class="image-responsive" src="https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/596dae84914e6b9e762046e1/1500360326339/Gary.png?format=500w">
        </div>
        <div class="col-md-4 col-sm-6">
            <h4>Gary Johnson, Advisor</h4>
            <p>Gary Johnson is a New York native, raised in East Harlem by a family of dedicated civil servants. Gary has spent over seven years working in NYC local government to progress economic development policies, programs and services aimed to support New Yorkers from all backgrounds.
            </p>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
</div>  
  








<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8">-->
<!--            <p class="lead">Hire Harlem</p>-->
<!--            <div class="list-group" style="color:gray">-->
<!--                <li class="list-group-item"><h4>Jordan Stockdale, Founder</h4>-->
<!--                    <p>Jordan is a long-time educator and former Harlem Special Education Teacher. For the last 3 years, he's worked on education and juvenile justice policies for the Mayor. Jordan served as a Fulbright Scholar, and is currently finishing his second Master's at Princeton University.              -->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="list-group-item"><h4>Nicole Javanna Johnson, Director of Communication</h4>-->
<!--                    <p>Nicole is a NY based community organizer and Founder & Creative Director of M.O.V.E., a non-profit 501c3 organization that provides participants with resources to creatively address social issues. Via her non-profit organization, Nicole designs and administers practical learning and civic education after school programs for students ages 6-18 nation wide.-->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="list-group-item"><h4>Kenneth Miles, Director of Partnerships</h4>-->
<!--                    <p>Born in Harlem, with family ties to the uptown community, Ken Miles is a social impact entrepreneur with a focus on community organizing, and a background in digital media and advertising. He maintains a personal and professional connection to Harlem, with a strong desire to continue to cultivate the diversity and genius this community has had for decades.  Ken was appointed to join Manhattan’s Community Board 9 (West Harlem) where he now serves. -->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="list-group-item"><h4>Alex Ocampo, Director of Technology</h4>-->
<!--                    <p>Alex currently works at IBM Watson with a focus on bringing innovative solutions to market.  He believes in the power of technology to positively change lives, and the importance of ensuring that this change happens equitably. As a new member to the Harlem community by way of Chicago, Alex wants to ensure that he is actively working to preserve and enhance the rich cultural history of Harlem.-->
<!--                    </p>-->
                <!--</li>-->
                <!--<li class="list-group-item"><h4>Tiffany Griffin, title</h4>-->
                <!--    <p>Amazing Bio </p>-->
                <!--</li>-->
<!--                <li class="list-group-item">Aysha Schomburg, Advisor-->
<!--                    <p>Aysha E. Schomburg, Esq., is the great granddaughter of Arturo Alfonso Schomburg, the founder of the Schomburg Center for Research in Black Culture, located in heart of Harlem. She is excited to support the mission of Hire Harlem. -->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="list-group-item">Phillip Ellison, Advisor-->
<!--                    <p>As a former educator, politico, and, current education tech entrepreneur, Phillip understands the process of bringing a product/tool to market for social good. In the 1990s, he grew up going to church in Harlem after the 1980s crack epidemic. He also witnessed the onset of gentrification in Harlem since the turn of the century. As a concerned community member, he supports the holistic strategy of Hire Harlem.-->
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="list-group-item">Gary Johnson, Advisor-->
<!--                    <p>Gary Johnson is a New York native, raised in East Harlem by a family of dedicated civil servants. Gary has spent over seven years working in NYC local government to progress economic development policies, programs and services aimed to support New Yorkers from all backgrounds.-->
<!--                    </p>-->
<!--                </li>-->
<!--            </div>-->
<!--        <div class="col-md-4">-->
            
<!--        </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--Rafael Ramirez, Founder and Deputy Director-->
<!--Rafael is a New York Native and student at Columbia University. Over the past several years he has been involved in community organizing surrounding issues of political and economic empowerment for people of color.                                                           -->

























<% include partials/footer %>