body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
hr{
	width: 300px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://thenypost.files.wordpress.com/2016/07/aarcag.jpg?quality=90&strip=all&w=361) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://images.nymag.com/images/2/realestate/neighborhoods/2010/harlem100414_lede.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://static1.squarespace.com/static/58d850aad2b857f33fbd2bd5/t/5979727ccf81e0577076bb94/1501131402107/?format=1000w);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://wp.zillowstatic.com/streeteasy/4/Harlem_125th_St_Dept_Store-f8427e.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://media.npr.org/assets/img/2011/01/25/harlem-subway_wide-dd8e476329c0f08f686d974b3f3ecac6bb2dc593.jpg?s=1400);
  animation-delay: 40s; 
}
/*//Keyframes for animation*/
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
.nav{
  z-index: 4;
}